{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}URL Shortener{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation" class="float-left"><a href="{% url 'index_view' %}">Home</a></li>
        <li role="presentation" class="float-right"><a href="{% url 'create_view' %}">Create Your URL</a></li>
    </ul>


{% block content %}
{% endblock %}

</div>

</body>
</html>