{% extends 'base.html' %}
{% block title %}Bookmarks{% endblock %}

{% block content %}
    <div class="row headers">
        <div class="col-md-4">Link</div>
        <div class="col-md-4">Visited Count</div>
        <div class="col-md-4">Last Accessed</div>
    </div>
    {% for click in object_list %}
        <div class="row">
            <a href="{% url 'bookmark_view' click.bookmark.shortened %}">
                <div class="col-md-4">{{ click.bookmark.title }}</div>
            </a>
            <div class="col-md-4">{{ click.access_count }}</div>
            <div class="col-md-4">{{ click.accessed }}</div>
        </div>
    {% endfor %}
{% endblock %}